:root {
    --magi-orange: #ec7420;
    --magi-red: #f02020;
    --magi-yellow: #f4b000;
    /*for some fucking reason blue and cyan is reversed*/
    --magi-cyan: #3cffd0;
    --magi-blue:#40c8e8;
    --magi-magenta: #b040a0;
    --magi-bg: #000000;
    --magi-dark-orange: #4b2e00;
    --magi-green: #50ff10;
    --magi-white: #b0b0b0;
}

* {
    background-color: transparent;
    color: var(--magi-orange);
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    box-sizing: border-box;
}
body {
    --bg-x: 0px;
    --bg-y: 0px;
    
    background-color: var(--magi-bg);
    background-image: radial-gradient(var(--magi-dark-orange) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: var(--bg-x) var(--bg-y);
    margin: 0;
    padding: 0;
}
aside{
    max-width: 250px;
}
.waveform-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 100vh;
    z-index: 99;
    margin: 0;
    margin-left: 40px;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
}


#magiWaveform {
    width: 100%;
    height: 100%;
    display: block;
}
.monitor-frame {
    margin: 40px 200px;
    border: 3px solid var(--magi-orange);
    background-color: var(--magi-bg);
    padding: 20px;
    min-height: calc(100vh - 80px);
    box-shadow: inset 0 0 50px rgba(255, 157, 0, 0.1);
}

.magi-header {
    display: flex;
    justify-content: space-between;
    background: var(--magi-orange);
    margin-bottom: 5px;
    padding: 4px;
}

.magi-header * { color: black; font-weight: 900; }

.alert-bg { background: var(--magi-red); color: white !important; padding: 0 10px; }

.warning-strip {
    background: #221500;
    border: 1px solid var(--magi-orange);
    color: var(--magi-yellow);
    font-size: 11px;
    padding: 3px 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.main-wrapper { display: flex; gap: 20px; }
.magi-sidebar { width: 250px; flex-shrink: 0; }
.magi-content { flex-grow: 1; }

.melchior { border-color: var(--magi-orange); }
.balthasar { border-color: var(--magi-blue); }
.balthasar legend { background: var(--magi-blue); }
.caspar { border-color: var(--magi-yellow); }
.caspar legend { background: var(--magi-yellow); }

fieldset {
    border: 2px solid var(--magi-orange);
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(255, 157, 0, 0.02);
}

legend {
    background: var(--magi-orange);
    color: black;
    padding: 0 10px;
    font-weight: bold;
}

.pfp-container {
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid var(--magi-orange);
}

.pixel-pfp {
    width: 100%;
    display: block;
    
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    
    filter: contrast(150%) brightness(110%);
    

}

a { text-decoration: none; transition: 0.2s; }
.nav-link { color: var(--magi-orange); display: block; padding: 5px; border-bottom: 1px solid #332200; }
.nav-link:hover { background: var(--magi-orange); color: black; }

.link-item { color: var(--magi-blue); }
.link-item:hover { color: white; text-shadow: 0 0 8px var(--magi-blue); }

.blog-link { color: var(--magi-yellow); }
.blog-link:hover { background: var(--magi-yellow); color: black; }

.accent-yellow { color: var(--magi-yellow); }
.accent-blue { color: var(--magi-blue); }
.timestamp { color: #666; font-size: 0.9em; margin-right: 10px; }

.honeycomb-divider {
    height: 10px;
    background: repeating-linear-gradient(45deg, var(--magi-orange), var(--magi-orange) 2px, transparent 2px, transparent 10px);
    margin: 20px 0;
    opacity: 0.3;
}


.blink-red {
    color: var(--magi-red);
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink { to { visibility: hidden; } }

.magi-footer fieldset { border-style: dashed; border-color: #444; }
.footer-inner { display: flex; justify-content: space-between; font-size: 13px; }

@media (max-width: 1200px) {
    .monitor-frame { margin: 20px 50px; }
}
@media (max-width: 768px) {
    .monitor-frame { margin: 10px; }
    .main-wrapper { flex-direction: column; }
}

.chat-container {
    width: 100%;
    height: 500px;
    border: 1px solid var(--magi-yellow);
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    padding: 2px;
}

#chattable {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
::-webkit-input-placeholder { color: #0a0805 !important; }
:-moz-placeholder { color: #0a0805 !important; }
::-moz-placeholder { color: #0a0805 !important; }
:-ms-input-placeholder { color: #0a0805 !important; }

.chat-container::before {
    content: "USER_IDENTIFICATION: [GUEST_ACCESS]";
    display: block;
    background: var(--magi-yellow);
    color: black;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: bold;
}
#textInput, #input,#input:empty::before{
    background-color: var(--magi-yellow);
    font-weight: bold;
    color: #0a0805;
}
.chat-header {
    color: black;
    padding: 5px 10px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
#is_typing,#top_banner{
    visibility: hidden;
}

#settings{
    background-color: #ffcc00;
}
.chat-wrapper {
    width: 100%;
    height: 500px;
    border: 2px solid var(--magi-yellow);
    background: black;
    overflow: hidden;
}

#chattable {
    width: 100%;
    height: 100%;
    border: none;
}
